apiVersion: v1
kind: Service
metadata:
  name: postgres-kooplex
  namespace: kooplex-veo
spec:
  selector:
    name: lbl-postgres
  ports:
    - name: postgres
      protocol: TCP
      port: 5432
      targetPort: 5432
---
apiVersion: v1
kind: Pod
metadata:
  name: postgres-kooplex
  namespace: kooplex-veo
  labels:
    name: lbl-postgres
spec:
  containers:
  - image: postgres:11.12
    name: postgres
    ports:
      - containerPort: 5432
        name: postgres
    env:
    - name: POSTGRES_PASSWORD
      valueFrom:
        secretKeyRef:
          name: pg-admin-ebi
          key: adminpw
    - name: POSTGRES_USER
      valueFrom:
        secretKeyRef:
          name: pg-admin-ebi
          key: admin
    volumeMounts:
      - mountPath: /var/lib/postgresql
        name: svcdata
  volumes:
    - name: svcdata
      persistentVolumeClaim:
        claimName: pvc-kooplex-postgres
